NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=drlqmol4c
NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET=mapa_argentina_2026_x7k9p
NEXT_PUBLIC_GOOGLE_SHEETS_WEB_APP_URL=https://script.google.com/macros/s/ID_DE_IMPLEMENTACION/exec
